# Hoisting is disabled by default in pnpm. NestJS + Prisma need a few packages
# resolvable from the service root, so we expose them explicitly.
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@prisma/*
public-hoist-pattern[]=prisma
strict-peer-dependencies=false
auto-install-peers=true
